<footer class="bg-secondary py-4">
    <nav class="navbar navbar-expand-md navbar-light footerNav text-white">
        <div class="container-fluid container-md">
            <!-- logo -->
            <h1 class="m-0">
                <a class="navbar-brand logo-footer d-block my-2 ml-3 m-md-0" href="index.html">D'PERFUME</a>
            </h1>
            <p class="mb-0 ml-4 footer-text">© 2020. All Rights Reserved.</p>
            <ul class="navbar-nav ml-md-auto d-none d-md-flex align-items-center ">
                <li class="nav-item mr-8 ">
                    <a class="nav-link text-white p-0" href="product.html"> Product </a>
                </li>
                <li class="nav-item mr-8">
                    <a class="nav-link text-white p-0" href="#"> Blog </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white p-0" href="#"> Contact </a>
                </li>
            </ul>
        </div>
    </nav>
</footer>
