<section class="bg-footer-banner py-20">
    <div class="container h-100 ">
        <div class="row no-gutters h-100 align-items-end">
            <div class="col-12 col-lg-6 col-xl-4">
                <h2 class="mb-4 text-info font-weight-bolder">記得<br />訂閱以獲取更多資訊！</h2>
                <div class="input-group  d-flex justify-content-between flex-nowrap">
                    <input
                        type="email"
                        class="py-4 px-3 w-100 border border-secondary btn-footer-email rounded-left"
                        id="email"
                        placeholder="Your email address"
                        aria-label="Your email address"
                        aria-describedby="button-addon2"
                    />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary text-white rounded-right">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
