.banner {
    &-title {
        font-size: $fz * 4;
        line-height: 1.5;
        font-weight: bold;
        @include md {
            font-size: $fz * 3.2;
            line-height: 1.5;
        }
    }
    &-text {
        font-size: $fz * 2.4;
        line-height: 1.5;
        @include md {
            font-size: $fz * 2;
            line-height: 1.5;
        }
    }
    // &-btn{
    //     display: block;
    //     // font-size: $fz *2.8;
    //     // line-height: 1.5;
    //     border-radius: 30px;
    //     border: 2px solid #ffffff;
    //     text-align: center;
    //     color: #ffffff;
    //     padding: 13px 0;
    //     &:hover{
    //         color:$info;
    //         background-color: #FFFFFF4D;
    //     }
    // }
}
