@mixin bgu($url, $height) {
    background: url($url);
    height: $height;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// banner
.bg-index-banner {
    @include bgu('../images/index1.jpg', calc(100vh - 56px));
}

// index-product
.bg-index-product {
    width: 100%;
    padding-top: 100%;
    @include md {
        padding-top: 70%;
    }
}
.bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-md-cover-top {
    @include md {
        background-position: center 30%;
    }
}
