@mixin bgu($url, $height) {
    background: url($url);
    height: $height;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.bg-index{
    @include bgu('../images/index1.jpg',calc(100vh - 56px));
    // @include md{

    // }
}

